---
/**
 * 呼び方表のテーブルのセル。
 * クリックすると呼称をコピーする。クリック後しばらくの間コピー済みマークを表示し、しばらく経つと消える。
 */

import type { CharacterInfo } from "@/constants/type";
import { faCheck, faCopy } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";

interface Props {
  callNames: readonly string[];
  characterInfo: CharacterInfo;
  additionalClass?: string;
}

const { callNames, characterInfo, additionalClass } = Astro.props;
---

{
  /*
  FIXME:
  `table td:not([align]), table th:not([align])`セレクター によって
  text-align: inherit になっている
*/
}
<td
  class:list={[
    "p-2xs h-20 w-[150px] cursor-pointer border-0 !text-center align-middle",
    additionalClass === "me" && "bg-white text-neutral-500",
    additionalClass === "you" && "border-l border-neutral-500",
  ]}
>
  <div class="flex h-full w-full flex-col">
    {
      callNames.map((callName) => {
        // NOTE: hover 時にチラつくので border ではなく outline を使う
        return (
          <p
            data-voicevox-call-name={callName}
            style={{ outlineColor: characterInfo.color }}
            title={`クリックして呼称をコピー：「${callName}」`}
            class="group relative flex h-full w-full flex-col justify-center select-all hover:rounded-md hover:outline hover:outline-2"
          >
            <span class="m-2xs invisible absolute top-0 right-0 inline h-4 w-4 group-hover:visible group-data-[voicevox-copied]:visible group-data-[voicevox-copied]:hidden">
              <FontAwesomeIcon
                icon={faCopy}
                className="h-4 w-4"
                style={{ color: characterInfo.color }}
              />
            </span>
            <span class="m-2xs invisible absolute top-0 right-0 hidden h-4 w-4 group-hover:visible group-data-[voicevox-copied]:visible group-data-[voicevox-copied]:inline">
              <FontAwesomeIcon
                icon={faCheck}
                className="h-4 w-4"
                style={{ color: characterInfo.color }}
              />
            </span>
            {callName}
          </p>
        );
      })
    }
  </div>
</td>

<script>
  import { ensureNotNullish } from "@/helper";

  // クリックしたときにクリップボードにコピー
  document.querySelectorAll("[data-voicevox-call-name]").forEach((elem) => {
    let timeoutId: ReturnType<typeof setTimeout>;
    elem.addEventListener("click", () => {
      const callName = ensureNotNullish(
        elem.getAttribute("data-voicevox-call-name"),
      );

      // しばらくの間コピー済みマークを表示
      navigator.clipboard.writeText(callName).then(() => {
        elem.setAttribute("data-voicevox-copied", "");
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
          elem.removeAttribute("data-voicevox-copied");
        }, 800);
      });
    });
  });
</script>
