---
/**
 * 呼び方表のテーブルのセル。
 * クリックすると呼称をコピーする。クリック後しばらくの間コピー済みマークを表示し、しばらく経つと消える。
 */

import FontAwesomeIcon from "@/components/FontAwesomeIcon.astro";
import type { CharacterInfo } from "@/constants/type";
import { faCheck, faCopy } from "@fortawesome/free-solid-svg-icons";

interface Props {
  callNames: readonly string[];
  characterInfo: CharacterInfo;
  additionalClass?: string;
}

const { callNames, characterInfo, additionalClass } = Astro.props;
---

{
  /*
  FIXME:
  `table td:not([align]), table th:not([align])`セレクター によって
  text-align: inherit になっている
*/
}
<td
  class:list={[
    "h-20 w-[150px] cursor-pointer border-0 p-1 !text-center align-middle",
    additionalClass === "me" && "bg-white text-gray-500",
    additionalClass === "you" && "border-l border-neutral-500",
  ]}
>
  <div class="flex h-full w-full flex-col">
    {
      callNames.map((callName) => (
        <p
          data-voicevox-call-name={callName}
          style={{ outlineColor: characterInfo.color }}
          title={`クリックして呼称をコピー：「${callName}」`}
          class="group relative flex h-full w-full flex-col justify-center select-all"
        >
          <span class="name-copy invisible absolute top-0 right-0 m-1 inline h-4 w-4 group-hover:visible group-data-[voicevox-copied]:visible group-data-[voicevox-copied]:hidden">
            <FontAwesomeIcon
              icon={faCopy}
              class="h-4 w-4"
              style={{ color: characterInfo.color }}
            />
          </span>
          <span class="name-copied invisible absolute top-0 right-0 m-1 hidden h-4 w-4 group-hover:visible group-data-[voicevox-copied]:visible group-data-[voicevox-copied]:inline">
            <FontAwesomeIcon
              icon={faCheck}
              class="h-4 w-4"
              style={{ color: characterInfo.color }}
            />
          </span>
          {callName}
        </p>
      ))
    }
  </div>
</td>

<script>
  // クリックしたときにクリップボードにコピー
  document.querySelectorAll("[data-voicevox-call-name]").forEach((elem) => {
    let timeoutId: ReturnType<typeof setTimeout>;
    elem.addEventListener("click", () => {
      const callName = elem.getAttribute("data-voicevox-call-name");
      if (callName == undefined) throw new Error("callName is undefined");

      // しばらくの間コピー済みマークを表示
      navigator.clipboard.writeText(callName).then(() => {
        elem.setAttribute("data-voicevox-copied", "");
        clearTimeout(timeoutId);
        timeoutId = setTimeout(() => {
          elem.removeAttribute("data-voicevox-copied");
        }, 800);
      });
    });
  });
</script>

<style>
  p:hover {
    /* NOTE: ちらつくので border ではなく outline */
    outline: 2px solid;
    border-radius: 6px;
  }
</style>
