---
import { characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import { getDormitoryCharacterPageUrl } from "@/constants/url";
import { withBaseUrl } from "@/helper";
import Base from "@/layouts/Base.astro";
import ExplainSection from "../_ExplainSection.astro";
import CharacterImage from "./_CharacterImage.astro";
import Row from "./_Row.astro";

function hex2rgba(hex: string, alpha = 1): [number, number, number, number] {
  const match = hex.match(/\w\w/g);
  if (!match) throw new Error("Invalid hex");
  const [red, green, blue] = match.map((x) => parseInt(x, 16));
  return [red, green, blue, alpha];
}

function rgba2rgbOnWhite(
  red: number,
  green: number,
  blue: number,
  alpha: number,
): [number, number, number] {
  const _red = Math.round((1 - alpha) * 255 + alpha * red);
  const _green = Math.round((1 - alpha) * 255 + alpha * green);
  const _blue = Math.round((1 - alpha) * 255 + alpha * blue);
  return [_red, _green, _blue];
}
---

<Base
  title={`ボイボ寮キャラクターの呼称表 | ボイボ寮 | VOICEVOX`}
  description={"ボイボ寮キャラクターの呼び方一覧表です。必ずしも遵守する必要はなく、自由に改変して頂いても問題ありません。"}
>
  {
    /*
    sticky にするために明示的に高さを指定
     → ほかに overflow の指定などでも sticky にできるが、親レイアウトの
       Page コンポーネントのフッターやスタイルを変更すると他ページに影響が
       出る可能性があるので、画面が埋まるように高さを指定した。
    FIXME: 二重スクロールをなくす
  */
  }
  <div
    class="vv-scrollbar-thin h-[calc(100vh-3.25rem)] overflow-auto"
    data-voicevox-call-names-wrapper
  >
    <section class="px-xl py-3xl sticky left-0">
      <div class="mx-auto w-full max-w-5xl text-center">
        <h1 class="mb-xl text-3xl leading-9 font-extrabold text-neutral-700">
          ボイボ寮キャラクターの呼称表
        </h1>
        <p class="leading-relaxed">
          <a href={withBaseUrl("/dormitory/")} class="vv-link">ボイボ寮</a
          >&nbsp;キャラクターの呼び方一覧表です。必ずしも遵守する必要はなく、自由に改変して頂いても問題ありません。
        </p>
      </div>
    </section>
    <main>
      <table
        class="mx-auto my-0 w-full table-fixed border-separate border-spacing-0 border-0 p-0"
      >
        <thead>
          <tr>
            <th
              class="sticky top-0 left-0 z-30 w-24 border-r border-b border-neutral-500 bg-white p-0 !text-center align-middle md:w-[190px]"
            >
              <p class="p-xs absolute bottom-0 left-0 z-10 font-normal">誰が</p>
              <p class="p-xs absolute top-0 right-0 z-10 font-normal">誰を</p>
              <div
                class="absolute inset-0"
                style={{
                  background:
                    "linear-gradient(to right top, transparent calc(50% - 0.5px), rgb(128, 128, 128) 50%, rgb(128, 128, 128) calc(50% + 0.5px), transparent calc(50% + 1px))",
                }}
              >
              </div>
            </th>

            {
              characterKeys.map((characterKey) => {
                const characterInfo = characterInfos[characterKey];
                return (
                  <th class="p-2xs sticky top-0 z-20 w-[150px] border-b border-neutral-500 bg-white !text-center align-middle">
                    <a
                      href={withBaseUrl(
                        getDormitoryCharacterPageUrl(characterInfo),
                      )}
                      class="gap-2xs vv-link-subtle flex flex-col items-center justify-center text-center"
                      style={{
                        color: characterInfo.color,
                      }}
                    >
                      <CharacterImage characterInfo={characterInfo} />
                      <p>{characterInfo.name}</p>
                    </a>
                  </th>
                );
              })
            }
            <th
              class="p-2xs sticky top-0 z-20 w-[150px] border-b border-l border-neutral-500 bg-white !text-center align-middle"
            >
              <p>全員</p>
              <p>（二人称）</p>
            </th>
          </tr>
        </thead>
        <tbody>
          {
            characterKeys.map((characterKey) => {
              const characterInfo = characterInfos[characterKey];

              // 色を半透明するとセルが重なったとき, スクロール時にセルが
              // 透けて見えてしまうので, 白地での RGB に変換する
              const [red, green, blue] = rgba2rgbOnWhite(
                ...hex2rgba(characterInfo.lightColor, 0.4),
              );
              const backgroundColor = `rgb(${red}, ${green}, ${blue})`;

              return (
                <tr style={{ backgroundColor }}>
                  <th
                    class="px-xs py-2xs sticky left-0 z-10 w-24 border-r border-neutral-500 text-center! align-middle md:w-[190px]"
                    style={{
                      backgroundColor,
                    }}
                  >
                    <a
                      href={withBaseUrl(
                        getDormitoryCharacterPageUrl(characterInfo),
                      )}
                      class="gap-sm vv-link-subtle flex items-center justify-center text-center md:justify-start"
                      style={{
                        color: characterInfo.color,
                      }}
                    >
                      <CharacterImage characterInfo={characterInfo} />
                      <p class="hidden text-left whitespace-normal md:block">
                        {characterInfo.name}
                      </p>
                    </a>
                  </th>
                  <Row characterKey={characterKey} />
                </tr>
              );
            })
          }
        </tbody>
      </table>
    </main>
  </div>

  <ExplainSection showingDormitoryPageButton={true} />
</Base>
