---
import PlayButton from "@/components/PlayButton/index.astro";
import Button from "@/components/ui/Button/index.astro";
import IconButton from "@/components/ui/IconButton/index.astro";
import { characterEntries, characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import { callNameInfos } from "@/constants/characterInfos/callNameInfo";
import { getProductPageUrl } from "@/constants/url";
import { withBaseUrl } from "@/helper";
import Base from "@/layouts/Base.astro";
import { faHome } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { getImage, Image } from "astro:assets";
import backgroundImage from "../images/nc238325.jpg";
import CallBox from "./_CallBox.astro";
import { descriptionTypes } from "./_constants";
import DescriptionTypeSwitch from "./_DescriptionTypeSwitch.astro";

export const getStaticPaths = (async () => {
  return characterKeys.flatMap((key) =>
    descriptionTypes.map((d) => ({
      params: {
        characterId: characterEntries[key].id,
        descriptionType: d == "profile" ? undefined : d, // NOTE: 以前に合わせるため、プロフィールページはURLをネストしない
      },
      props: { characterInfo: characterInfos[key], descriptionType: d },
    })),
  );
}) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { characterInfo, descriptionType } = Astro.props;
const characterKey = characterInfo.key;
const backgroundImageUrl = `url(${(await getImage({ src: backgroundImage })).src})`;
---

<Base
  title={`${characterInfo.name} | ボイボ寮 ${
    descriptionType === "profile" ? "プロフィール" : "呼び方"
  } | VOICEVOX`}
  description={characterInfo.description}
  image={characterInfo.dormitoryShareImage}
  imageAlt={characterInfo.dormitoryShareImage ? "" : undefined}
>
  <div
    class="bg-white/70 bg-cover bg-fixed bg-blend-lighten"
    style={{ backgroundImage: backgroundImageUrl }}
  >
    <main class="px-xl py-2xs lg:px-3xl">
      <div
        class="gap-sm mx-auto flex min-h-screen max-w-3xl flex-col items-center justify-center md:min-h-[calc(100vh-52px)] md:max-w-[820px]"
      >
        <div
          class={`w-full overflow-hidden rounded-xl border-[3px] border-solid bg-white md:h-[550px]`}
          style={{ borderColor: characterInfo.color }}
          data-testid="dormitory-character-card"
        >
          <div class="flex flex-col md:h-full md:flex-row">
            <div
              class="max-md:py-2xs relative flex items-center justify-center overflow-hidden px-0 md:h-full md:w-1/3 md:border-r-[3px]"
              style={{ borderColor: characterInfo.color }}
            >
              <div class="h-screen w-full md:h-full">
                <div class="flex h-full items-center justify-center">
                  <Image
                    src={characterInfo.portraitImage}
                    alt={characterInfo.name}
                    width={640}
                    densities={[1, 1.5, 2]}
                    class="block h-full w-auto max-w-none object-contain"
                  />
                </div>
              </div>
            </div>

            <div
              class={`flex-1 p-xl ${descriptionType === "calls" ? "pb-sm" : ""}`}
            >
              <div class="flex h-full flex-col">
                <div class="flex items-start">
                  <h1
                    class="mb-xl text-3xl leading-9 font-extrabold text-neutral-700"
                    set:html={characterInfo.rubyName}
                  />
                  <IconButton
                    href={characterInfo.detailUrl
                      ? withBaseUrl(characterInfo.detailUrl)
                      : undefined}
                    size="md"
                    border
                    class:list={[
                      "ml-auto px-0 py-[7px]",
                      characterInfo.detailUrl ? "visible" : "invisible",
                    ]}
                    style={{ color: characterInfo.color }}
                    aria-label={`${characterInfo.name}の詳細ページ`}
                    target={characterInfo.detailUrl ? "_blank" : undefined}
                    rel={characterInfo.detailUrl ? "noreferrer" : undefined}
                  >
                    <FontAwesomeIcon icon={faHome} />
                  </IconButton>
                </div>

                <DescriptionTypeSwitch
                  characterInfo={characterInfo}
                  selectedType={descriptionType}
                />

                {
                  descriptionType === "profile" && (
                    <>
                      <div
                        class="mt-xl mb-xs text-xl font-bold"
                        set:html={characterInfo.description}
                      />

                      <div class="-mx-2xs grid grid-cols-1 gap-0 md:grid-cols-2">
                        {characterInfo.labelInfos.map((labelInfo) => (
                          <div
                            class={labelInfo.size === 1 ? "" : "md:col-span-2"}
                          >
                            <div class="px-2xs pt-sm flex items-center">
                              <span
                                class="py-xs inline-flex w-28 items-center justify-center rounded-lg text-center text-white"
                                style={{ backgroundColor: characterInfo.color }}
                              >
                                {labelInfo.label}
                              </span>
                              <span class="pl-sm grow text-base">
                                {labelInfo.value}
                              </span>
                            </div>
                          </div>
                        ))}
                      </div>

                      <div class="-mx-2xs px-2xs pt-sm flex items-center">
                        <span
                          class="py-xs inline-flex w-28 items-center justify-center rounded-lg text-center text-white"
                          style={{ backgroundColor: characterInfo.color }}
                        >
                          音声サンプル
                        </span>
                        {characterInfo.dormitoryVoiceAudios ? (
                          <div class="gap-2xs pl-sm flex grow flex-wrap">
                            {characterInfo.dormitoryVoiceAudios.map(
                              (audio, index) => (
                                <PlayButton
                                  audio={audio}
                                  name={`${
                                    characterInfo.name
                                  }のサンプルボイス${index + 1}`}
                                  color={characterInfo.color}
                                  class="mr-2xs"
                                />
                              ),
                            )}
                          </div>
                        ) : (
                          <span class="pl-sm grow text-base">準備中</span>
                        )}
                      </div>

                      {characterInfo.dormitoryImages && (
                        <div class="mt-sm flex max-h-32 gap-0 overflow-hidden">
                          {characterInfo.dormitoryImages.map((image) => (
                            <div class="flex flex-1 items-center justify-center">
                              <Image
                                src={image}
                                alt={characterInfo.name}
                                height={256}
                                densities={[1, 1.5, 2]}
                                class="block h-32 w-full object-contain"
                              />
                            </div>
                          ))}
                        </div>
                      )}
                    </>
                  )
                }

                {
                  descriptionType === "calls" && (
                    <div class="pt-sm md:gap-xl flex flex-1 flex-col gap-0 overflow-hidden md:flex-row">
                      <div class="gap-2xl flex flex-row justify-center max-md:h-32 md:flex-col">
                        <div class="px-sm flex h-26 w-26 flex-none flex-col items-center justify-center rounded-2xl border-2 border-black text-center">
                          <div class="mb-2xs font-bold">
                            <span>一人称</span>
                          </div>
                          <div class="text-sm">
                            {callNameInfos[characterKey].me.map((callName) => (
                              <p>{callName}</p>
                            ))}
                          </div>
                        </div>
                        <div class="px-sm flex h-26 w-26 flex-none flex-col items-center justify-center rounded-2xl border-2 border-black text-center">
                          <div class="mb-2xs font-bold">
                            <span>二人称</span>
                          </div>
                          <div class="text-sm">
                            {callNameInfos[characterKey].you.map((callName) => (
                              <p>{callName}</p>
                            ))}
                          </div>
                        </div>
                      </div>
                      <div class="vv-scrollbar-thin gap-xs md:pr-2xs flex flex-1 flex-col overflow-auto">
                        {characterKeys
                          .filter(
                            (targetCharacterKey) =>
                              targetCharacterKey !== characterKey,
                          )
                          .map((targetCharacterKey) => (
                            <CallBox
                              characterInfo={characterInfo}
                              baseCharacterKey={characterKey}
                              targetCharacterKey={targetCharacterKey}
                            />
                          ))}
                      </div>
                    </div>
                  )
                }
              </div>
            </div>
          </div>
        </div>

        <div
          class="gap-xs flex flex-wrap items-center justify-center font-bold"
        >
          <Button
            href={withBaseUrl(getProductPageUrl(characterInfo))}
            kind="outline"
            tone="neutral"
            shape="pill"
            size="md"
            style={{ "--vv-button-border-color": characterInfo.color }}
          >
            ダウンロードページ
          </Button>
          <Button
            href={withBaseUrl(`/dormitory/#${characterInfo.id}`)}
            kind="outline"
            tone="neutral"
            shape="pill"
            size="md"
            style={{ "--vv-button-border-color": characterInfo.color }}
          >
            キャラクター一覧
          </Button>
        </div>
      </div>
    </main>
  </div>
</Base>
