---
import FontAwesomeIcon from "@/components/FontAwesomeIcon.astro";
import PlayButton from "@/components/PlayButton/index.astro";
import { faXTwitter } from "@fortawesome/free-brands-svg-icons";
import { faEnvelope, faHome } from "@fortawesome/free-solid-svg-icons";
import { Image } from "astro:assets";
import type { SpeakerInfo } from "./constants";

interface Props {
  info: SpeakerInfo;
  style: Record<string, string | number>;
}

const { info, style } = Astro.props;
---

<div
  class="relative flex flex-row pr-4 before:content-[''] before:absolute before:bg-[#20242d] before:top-[0.4rem] before:left-[0.4rem] before:bottom-[0.4rem] before:right-0 before:z-[1] h-32 before:rounded-l-[calc(8rem-0.4rem)] max-lg:h-24 max-lg:before:rounded-l-[calc(6rem-0.4rem)] max-md:h-16 max-md:before:rounded-l-[calc(4rem-0.4rem)] [filter:drop-shadow(12px_12px_8px_rgba(0,0,0,0.5))] [&>*]:z-[2]"
  style={style}
>
  <div
    class="h-32 w-32 max-lg:h-24 max-lg:w-24 max-md:h-16 max-md:w-16 flex-shrink-0"
  >
    <Image src={info.icon} alt={`${info.name}のアイコン`} />
  </div>
  <div
    class="flex-1 flex flex-col justify-center items-center text-center gap-2 max-lg:gap-1"
  >
    <span class="text-base text-white max-lg:text-xs">CV</span>
    <div class="group/dropdown relative inline-block">
      <div>
        <button
          class="inline-flex items-center gap-0 bg-transparent border-none text-white underline py-0 px-0 h-auto hover:text-white focus:text-white active:text-white"
          aria-haspopup="true"
          aria-controls={`dropdown-${info.id}`}
          type="button"
        >
          <h3
            class="inline-block max-w-full overflow-hidden text-ellipsis px-2 text-xl max-lg:text-base whitespace-nowrap"
          >
            {info.cv}
          </h3>
        </button>
      </div>
      <div
        class="absolute top-full left-0 mt-2 hidden group-hover/dropdown:block group-focus-within/dropdown:block z-50 min-w-full w-max"
        id={`dropdown-${info.id}`}
        role="menu"
      >
        <div
          class="rounded-md bg-[#2e333d] p-3 shadow-lg ring-1 ring-black/20 min-w-[14rem]"
        >
          <div class="flex flex-col text-center items-center text-white gap-2">
            <span class="text-sm">音声収録のご依頼先</span>
            <div class="flex gap-2">
              {
                [
                  {
                    link: info.link.homepage,
                    label: "ホームページ",
                    icon: faHome,
                  },
                  {
                    link: info.link.twitter,
                    label: "SNS",
                    icon: faXTwitter,
                  },
                  {
                    link: info.link.email,
                    label: "メールアドレス",
                    icon: faEnvelope,
                  },
                ].map(
                  ({ link, label, icon }) =>
                    link && (
                      <a
                        class="inline-flex items-center justify-center rounded-full border-[2px] w-[57.6px] h-[57.6px] bg-transparent text-white border-[#2e333d] hover:bg-neutral-700 mb-0 ml-auto text-xl"
                        href={link}
                        aria-label={`${info.cv}の${label}`}
                        target="_blank"
                        rel="noreferrer"
                      >
                        <FontAwesomeIcon icon={icon} />
                      </a>
                    ),
                )
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-shrink-0 flex flex-row justify-center items-center gap-4">
    {
      info.audios.map((audio, index) => (
        <PlayButton
          audio={audio}
          name={`${info.name}のサンプルボイス${index + 1}}`}
          color={info.color}
          style={{ backgroundColor: info.backgroundColor }}
        />
      ))
    }
  </div>
</div>
