---
import FontAwesomeIcon from "@/components/FontAwesomeIcon.astro";
import PlayButton from "@/components/PlayButton/index.astro";
import { faXTwitter } from "@fortawesome/free-brands-svg-icons";
import { faEnvelope, faHome } from "@fortawesome/free-solid-svg-icons";
import { Image } from "astro:assets";
import type { SpeakerInfo } from "./constants";

interface Props {
  info: SpeakerInfo;
  style: Record<string, string | number>;
}

const { info, style } = Astro.props;
---

<div
  class="relative flex h-32 flex-row pr-4 [filter:drop-shadow(12px_12px_8px_rgba(0,0,0,0.5))] before:absolute before:top-[0.4rem] before:right-0 before:bottom-[0.4rem] before:left-[0.4rem] before:z-[1] before:rounded-l-[calc(8rem-0.4rem)] before:bg-[#20242d] before:content-[''] max-lg:h-24 max-lg:before:rounded-l-[calc(6rem-0.4rem)] max-md:h-16 max-md:before:rounded-l-[calc(4rem-0.4rem)] [&>*]:z-[2]"
  style={style}
>
  <div
    class="h-32 w-32 flex-shrink-0 max-lg:h-24 max-lg:w-24 max-md:h-16 max-md:w-16"
  >
    <Image src={info.icon} alt={`${info.name}のアイコン`} />
  </div>
  <div
    class="flex flex-1 flex-col items-center justify-center gap-2 text-center max-lg:gap-1"
  >
    <span class="text-base text-white max-lg:text-xs">CV</span>
    <div class="group/dropdown relative inline-block">
      <div>
        <button
          class="inline-flex h-auto items-center gap-0 border-none bg-transparent px-0 py-0 text-white underline hover:text-white focus:text-white active:text-white"
          aria-haspopup="true"
          aria-controls={`dropdown-${info.id}`}
          type="button"
        >
          <h3
            class="inline-block max-w-full overflow-hidden px-2 text-xl text-ellipsis whitespace-nowrap max-lg:text-base"
          >
            {info.cv}
          </h3>
        </button>
      </div>
      <div
        class="absolute top-full left-0 z-50 pt-2 hidden w-max min-w-full group-focus-within/dropdown:block group-hover/dropdown:block"
        id={`dropdown-${info.id}`}
        role="menu"
      >
        <div
          class="min-w-[14rem] rounded-md bg-[#2e333d] p-3 shadow-lg ring-1 ring-black/20"
        >
          <div class="flex flex-col items-center gap-2 text-center text-white">
            <span class="text-sm">音声収録のご依頼先</span>
            <div class="flex gap-2">
              {
                [
                  {
                    link: info.link.homepage,
                    label: "ホームページ",
                    icon: faHome,
                  },
                  {
                    link: info.link.twitter,
                    label: "SNS",
                    icon: faXTwitter,
                  },
                  {
                    link: info.link.email,
                    label: "メールアドレス",
                    icon: faEnvelope,
                  },
                ].map(
                  ({ link, label, icon }) =>
                    link && (
                      <a
                        class="mb-0 ml-auto inline-flex h-[57.6px] w-[57.6px] items-center justify-center rounded-full border-[2px] border-[#2e333d] bg-transparent text-xl text-white hover:bg-neutral-700"
                        href={link}
                        aria-label={`${info.cv}の${label}`}
                        target="_blank"
                        rel="noreferrer"
                      >
                        <FontAwesomeIcon icon={icon} />
                      </a>
                    ),
                )
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-shrink-0 flex-row items-center justify-center gap-4">
    {
      info.audios.map((audio, index) => (
        <PlayButton
          audio={audio}
          name={`${info.name}のサンプルボイス${index + 1}}`}
          color={info.color}
          style={{ backgroundColor: info.backgroundColor }}
        />
      ))
    }
  </div>
</div>
