---
import voicevoxIconImage from "@/assets/icon.png";
import Button from "@/components/ui/Button/index.astro";
import Base from "@/layouts/Base.astro";
import { showNemoGuidanceModalAttr, showNemoTermModalAttr } from "@/store";
import { faDownload } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { getImage, Image } from "astro:assets";
import SpeakerComponent from "./_SpeakerComponent.astro";
import backgroundImage from "./background.png";
import { getSpeakerInfo, speakerKeys } from "./constants";
import shareThumb from "./share.png";
import teaserImage from "./teaser.png";

const backgroundImageSrc = (await getImage({ src: backgroundImage })).src;
const voicevoxIconImageSrc = (await getImage({ src: voicevoxIconImage })).src;
---

<Base
  title="VOICEVOX Nemo"
  description="プレゼンから動画作成、ナレーションまで様々なTPOに合わせて利用できる、キャラクター無しの無料中品質読み上げソフトウェア"
  image={shareThumb}
  imageAlt=""
  isDark={true}
  isNemo={true}
>
  <main
    class="overflow-x-hidden bg-cover bg-top bg-no-repeat font-[LINE_Seed] text-white [text-rendering:optimizeLegibility]"
    style={{ backgroundImage: `url(${backgroundImageSrc})` }}
  >
    <section class="py-0" data-testid="first-view">
      <div
        class="px-xl max-lg:py-3xl mx-auto flex max-w-5xl flex-col-reverse justify-center gap-16 max-lg:items-center lg:h-[calc(100vh-3.25rem)] lg:flex-row-reverse xl:max-w-6xl"
      >
        <div
          class="flex max-w-2xl flex-1 items-center justify-center [filter:drop-shadow(20px_20px_15px_rgba(0,0,0,0.5))] xl:max-w-3xl"
        >
          <Image
            src={teaserImage}
            alt="VOICEVOX Nemoを利用中のソフトウェアのスクリーンショット"
            width={720}
            densities={[1, 1.5]}
            class="block object-contain"
          />
        </div>

        <div
          class="flex max-w-sm flex-col items-center justify-center max-lg:text-center lg:max-w-md lg:items-start xl:max-w-xl"
        >
          <h1
            class="mb-xl text-4xl leading-[1.125] font-semibold lg:text-4xl xl:text-5xl"
          >
            VOICEVOX Nemo
          </h1>
          <h2
            class="mb-xl w-full text-2xl leading-[1.125] font-semibold lg:text-2xl xl:text-3xl"
          >
            あらゆる場面に対応する
            <br />
            <span class="md:hidden">
              無料の中品質読み上げ
              <br />
              ソフトウェア
            </span>
            <span class="hidden md:inline"
              >無料の中品質読み上げソフトウェア</span
            >
          </h2>
          <div class="mb-2xs gap-2xs flex items-center max-lg:justify-center">
            <span
              class="inline-block size-5 bg-contain bg-center bg-no-repeat"
              style={{ backgroundImage: `url(${voicevoxIconImageSrc})` }}
            ></span>
            <span>Powered by VOICEVOX</span>
          </div>

          <div class="mt-md gap-md flex">
            <Button
              {...{ [showNemoGuidanceModalAttr]: "" }}
              kind="solid"
              tone="primary"
              shape="pill"
              size="sm"
              class="md:vv-button-size-md lg:vv-button-size-lg"
            >
              <span slot="icon">
                <FontAwesomeIcon icon={faDownload} />
              </span>
              <span class="font-semibold">ダウンロード</span>
            </Button>
            <Button
              {...{ [showNemoTermModalAttr]: "" }}
              kind="solid"
              tone="white"
              shape="pill"
              size="sm"
              class="md:vv-button-size-md lg:vv-button-size-lg"
            >
              利用規約
            </Button>
          </div>
        </div>
      </div>

      <div
        class="mb-3xl gap-md px-xl pb-3xl mx-auto grid w-full max-w-6xl grid-cols-2 lg:grid-cols-4"
      >
        <div
          class="py-2xl rounded-2xl bg-neutral-800/20 text-center text-base leading-normal md:text-xl"
        >
          商用利用・非商用利用
          <br />
          問わず無料
        </div>
        <div
          class="py-2xl rounded-2xl bg-neutral-800/20 text-center text-base leading-normal md:text-xl"
        >
          マルチOSに対応
          <br />
          (Win / Mac / Linux)
        </div>
        <div
          class="py-2xl rounded-2xl bg-neutral-800/20 text-center text-base leading-normal md:text-xl"
        >
          簡単に使える
          <br />
          わかりやすい操作画面
        </div>
        <div
          class="py-2xl rounded-2xl bg-neutral-800/20 text-center text-base leading-normal md:text-xl"
        >
          イントネーションの
          <br />
          詳細な調整も可能
        </div>
      </div>

      <div
        class="my-3xl px-xl py-3xl mx-auto w-full max-w-4xl text-center text-xl leading-normal md:text-2xl lg:text-3xl"
      >
        プレゼンから動画作成ナレーションまで
        <br />
        様々なTPOに合わせて利用できる
        <br />
        キャラクターなしの読み上げソフトウェア
      </div>
    </section>

    <section class="py-0">
      <div
        class="mt-3xl gap-2xl px-xl pt-3xl md:px-md mx-auto grid w-full max-w-5xl grid-cols-1 md:grid-cols-2"
      >
        {
          speakerKeys.map((key) => (
            <div class="w-full max-md:mx-auto max-md:max-w-sm">
              <SpeakerComponent info={getSpeakerInfo(key)} />
            </div>
          ))
        }
      </div>
      <div
        class="px-xl py-3xl md:px-md mx-auto w-full max-w-5xl text-center text-xl leading-normal"
      >
        より柔軟な演技や高品質な音声をお求めの場合は、
        <br />
        上記のリンク先にてご本人へご依頼いただけます。
      </div>
    </section>

    {
      /* コアライブラリ
VOICEVOXの音声合成をアプリケーションやサービスに組み込める、VOICEVOXのコアライブラリを配布しています。

詳しくは VOICEVOX CORE をご参照ください。 */
    }
  </main>
</Base>
