---
import voicevoxIconImage from "@/assets/icon.png";
import FontAwesomeIcon from "@/components/FontAwesomeIcon.astro";
import Base from "@/layouts/Base.astro";
import { showNemoGuidanceModalAttr, showNemoTermModalAttr } from "@/store";
import { faDownload } from "@fortawesome/free-solid-svg-icons";
import { getImage, Image } from "astro:assets";
import SpeakerComponent from "./_SpeakerComponent.astro";
import backgroundImage from "./background.png";
import { getSpeakerInfo, speakerKeys } from "./constants";
import shareThumb from "./share.png";
import teaserImage from "./teaser.png";

const backgroundImageSrc = (await getImage({ src: backgroundImage })).src;
const voicevoxIconImageSrc = (await getImage({ src: voicevoxIconImage })).src;
---

<Base
  title="VOICEVOX Nemo"
  description="プレゼンから動画作成、ナレーションまで様々なTPOに合わせて利用できる、キャラクター無しの無料中品質読み上げソフトウェア"
  image={shareThumb}
  imageAlt=""
  isDark={true}
  isNemo={true}
>
  <main
    class="bg-cover bg-top bg-no-repeat font-[LINE_Seed] text-white [text-rendering:optimizeLegibility]"
    style={{ backgroundImage: `url(${backgroundImageSrc})` }}
  >
    <section class="py-0" data-testid="first-view">
      <div
        class="mx-auto flex max-w-5xl flex-col-reverse items-center justify-center gap-16 px-6 py-12 lg:h-[calc(100vh-3.25rem)] lg:flex-row-reverse lg:items-stretch lg:py-0 xl:max-w-6xl"
      >
        <div
          class="flex max-w-2xl flex-1 items-center justify-center [filter:drop-shadow(20px_20px_15px_rgba(0,0,0,0.5))] xl:max-w-3xl"
        >
          <Image
            src={teaserImage}
            alt="VOICEVOX Nemoを利用中のソフトウェアのスクリーンショット"
            width={720}
            densities={[1, 1.5]}
            style={{ objectFit: "contain", display: "block" }}
          />
        </div>

        <div
          class="flex max-w-sm flex-col items-center justify-center text-center lg:max-w-md lg:items-start lg:text-left xl:max-w-xl"
        >
          <h1
            class="mb-6 text-4xl leading-[1.125] font-semibold lg:text-4xl xl:text-5xl"
          >
            VOICEVOX Nemo
          </h1>
          <h2
            class="mb-6 w-full text-2xl leading-[1.125] font-semibold lg:text-2xl xl:text-3xl"
          >
            あらゆる場面に対応する
            <br />
            <span class="md:hidden">
              無料の中品質読み上げ
              <br />
              ソフトウェア
            </span>
            <span class="hidden md:inline"
              >無料の中品質読み上げソフトウェア</span
            >
          </h2>
          <div
            class="mb-1 flex items-center justify-center gap-1 lg:justify-start"
          >
            <span
              class="inline-block size-5 bg-contain bg-center bg-no-repeat"
              style={{ backgroundImage: `url(${voicevoxIconImageSrc})` }}
            ></span>
            <span>Powered by VOICEVOX</span>
          </div>

          <div class="mt-4 flex gap-4">
            <button
              {...{ [showNemoGuidanceModalAttr]: "" }}
              class="bg-primary inline-flex items-center justify-center gap-2 rounded-full px-4 py-1.5 text-xs font-medium text-emerald-950 md:h-10 md:px-5 md:py-2 md:text-base lg:h-12 lg:px-6 lg:py-2.5 lg:text-lg"
            >
              <FontAwesomeIcon icon={faDownload} />
              <span class="font-semibold">ダウンロード</span>
            </button>
            <button
              {...{ [showNemoTermModalAttr]: "" }}
              class="inline-flex items-center justify-center rounded-full bg-white px-4 py-1.5 text-xs text-neutral-950 md:h-10 md:px-5 md:py-2 md:text-base lg:h-12 lg:px-6 lg:py-2.5 lg:text-lg"
            >
              <span>利用規約</span>
            </button>
          </div>
        </div>
      </div>

      <div
        class="mx-auto mb-12 grid w-full max-w-6xl grid-cols-2 gap-4 px-6 pb-12 lg:grid-cols-4"
      >
        <div
          class="rounded-2xl bg-neutral-800/20 py-8 text-center text-base leading-normal md:text-xl"
        >
          商用利用・非商用利用
          <br />
          問わず無料
        </div>
        <div
          class="rounded-2xl bg-neutral-800/20 py-8 text-center text-base leading-normal md:text-xl"
        >
          マルチOSに対応
          <br />
          (Win / Mac / Linux)
        </div>
        <div
          class="rounded-2xl bg-neutral-800/20 py-8 text-center text-base leading-normal md:text-xl"
        >
          簡単に使える
          <br />
          わかりやすい操作画面
        </div>
        <div
          class="rounded-2xl bg-neutral-800/20 py-8 text-center text-base leading-normal md:text-xl"
        >
          イントネーションの
          <br />
          詳細な調整も可能
        </div>
      </div>

      <div
        class="mx-auto my-12 w-full max-w-4xl px-6 py-12 text-center text-xl leading-normal md:text-2xl lg:text-3xl"
      >
        プレゼンから動画作成ナレーションまで
        <br />
        様々なTPOに合わせて利用できる
        <br />
        キャラクターなしの読み上げソフトウェア
      </div>
    </section>

    <section class="py-0">
      <div
        class="mx-auto mt-12 grid w-full max-w-5xl grid-cols-1 gap-8 px-6 pt-12 md:grid-cols-2 md:px-4"
      >
        {
          // 内部で表示するドロップメニューが兄弟要素で隠れてしまうのでz-indexを指定している
          speakerKeys.map((key, i) => (
            <div class="mx-auto w-full max-w-sm md:mx-0 md:max-w-none">
              <SpeakerComponent
                info={getSpeakerInfo(key)}
                style={{ zIndex: speakerKeys.length - i }}
              />
            </div>
          ))
        }
      </div>
      <div
        class="mx-auto w-full max-w-5xl px-6 py-12 text-center text-xl leading-normal md:px-4"
      >
        より柔軟な演技や高品質な音声をお求めの場合は、
        <br />
        上記のリンク先にてご本人へご依頼いただけます。
      </div>
    </section>

    {
      /* コアライブラリ
VOICEVOXの音声合成をアプリケーションやサービスに組み込める、VOICEVOXのコアライブラリを配布しています。

詳しくは VOICEVOX CORE をご参照ください。 */
    }
  </main>
</Base>
