---
/**
 * キャラクターごとの製品ページ
 */

import FontAwesomeIcon from "@/components/FontAwesomeIcon.astro";
import { characterEntries, characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import {
  getDormitoryCharacterPageUrl,
  getProductPageUrl,
} from "@/constants/url";
import Base from "@/layouts/Base.astro";
import SoftwareFeature from "@/pages/_SoftwareFeature.astro";
import {
  showDownloadModalAttr,
  showLibraryTermIntroModalCharacterKeyAttr,
} from "@/store";
import {
  faCircleLeft,
  faCircleRight,
  faDownload,
} from "@fortawesome/free-solid-svg-icons";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import AudioSample from "./AudioSample";
import featureImage from "./feature.png";

export const getStaticPaths = (async () =>
  characterKeys.map((key) => ({
    params: { characterId: characterEntries[key].id },
    props: { characterKey: key, characterInfo: characterInfos[key] },
  }))) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { characterKey, characterInfo } = Astro.props;

const voiceFeature = characterInfo.voiceFeature
  ? characterInfo.voiceFeature
  : "声";
const description =
  `VOICEVOXは「${characterInfo.name}」の${voiceFeature}で誰でも簡単に音声を作成できる、無料のテキスト読み上げソフトウェアです。` +
  (characterInfo.releaseDate
    ? `${characterInfo.releaseDate}にリリース予定。`
    : "");
const additionalDescription = characterInfo.additionalProductDescription;

const prevCharacterKey =
  characterKeys[
    (characterKeys.indexOf(characterKey) + characterKeys.length - 1) %
      characterKeys.length
  ];
const postCharacterKey =
  characterKeys[
    (characterKeys.indexOf(characterKey) + 1) % characterKeys.length
  ];

const characterBackgroundColor = characterInfo.lightColor;

/*
  const [
    showingLibraryReadmeModalCharacterKey,
    setShowingLibraryReadmeModalCharacterKey,
  ] = useState<CharacterKey | undefined>(undefined)

  // キャラクター変更アニメーション
  type CharaAnimeObject = {
    characterKey: CharacterKey
    ref: React.MutableRefObject<HTMLDivElement | null>
    state: "entering" | "staying" | "leaving"
    direction: "left" | "right"
  }
  const [nowCharaAnimeObject, setNowCharaAnimeObject] =
    useState<CharaAnimeObject>({
      characterKey,
      ref: React.createRef(),
      state: "staying",
      direction: "left",
    })
  const [prevCharaAnimeObject, setPrevCharaAnimeObject] = useState<
    CharaAnimeObject | undefined
  >(undefined)

  // キャラクター変更（ページ遷移）
  const { characterKeys } = useContext(CharacterContext)
  const changeToCharacter = useCallback(
    (nextCharacterKey: CharacterKey) => {
      const nextCharacterInfo = characterInfos[nextCharacterKey]!
      setCharacterId(nextCharacterInfo.id)
      setSelectedStyle(
        nextCharacterInfo.talkVoiceUrls.length > 0
          ? nextCharacterInfo.talkVoiceUrls[0].style
          : undefined
      )

      // アニメーション用
      const diff =
        characterKeys.indexOf(nextCharacterKey) -
        characterKeys.indexOf(characterKey)
      const direction =
        (diff + characterKeys.length) % characterKeys.length <=
        characterKeys.length / 2
          ? "right"
          : "left"
      setPrevCharaAnimeObject({
        ...nowCharaAnimeObject,
        state: "leaving",
        direction,
      })
      setNowCharaAnimeObject({
        characterKey: nextCharacterKey,
        ref: React.createRef(),
        state: "entering",
        direction,
      })

      window.history.pushState(
        { characterKey: nextCharacterKey },
        "",
        `/product/${nextCharacterInfo.id}/`
      )
      // // FIXME: たぶん本来は↓のgatsby.navigateを使うのが正しいけど、フラッシュするので使用できない
      // navigate(`/product/${characterInfos[nextCharacterKey]!.id}/`, {
      //   state: { characterKey: nextCharacterKey },
      // })
    },
    [characterInfos]
  )

  // ブラウザバックを無効化し、コード側でキャラクター変更する
  // TODO: なぜかうまくいかない。勝手にリロードされて404になってしまう？
  useEffect(() => {
    const handlePopState = (event: PopStateEvent) => {
      if (
        event.state?.characterKey != undefined &&
        event.state?.characterKey != characterKey
      ) {
        setCharacterId(characterInfos[event.state.characterKey]!.id)
      }
    }
    window.addEventListener("popstate", handlePopState)
    return () => {
      window.removeEventListener("popstate", handlePopState)
    }
  }, [characterKey])

  // 最初に来たときはそのキャラクターをセット
  useEffect(() => {
    history.replaceState({ characterKey }, "")
  }, [])

  // 画像
  const thumbImage = query.thumbImage.nodes.find(
    node => node.name === `thumb-${characterId}`
  )?.childImageSharp?.gatsbyImageData
  if (thumbImage == undefined)
    throw new Error(`thumb-${characterId} is not found`)
*/
---

<Base
  title={`VOICEVOX ${characterInfo.name} | 無料のテキスト読み上げソフトウェア`}
  description={description}
  image={characterInfo.productShareImage}
  imageAlt={characterInfo.productShareImage ? "" : undefined}
>
  <main class="product">
    <div class="section py-0">
      <div class="top container">
        <a
          href={getProductPageUrl(characterInfos[prevCharacterKey])}
          class="button prev circle-icon is-black"
          aria-label="前のキャラクターを表示"
          role="button"
        >
          {/* TODO: onClick={() => changeToCharacter(prevCharacterKey)}*/}
          <FontAwesomeIcon icon={faCircleLeft} />
        </a>
        <a
          href={getProductPageUrl(characterInfos[postCharacterKey])}
          class="button post circle-icon is-black"
          aria-label="次のキャラクターを表示"
          role="button"
        >
          {/* TODO: onClick={() => changeToCharacter(postCharacterKey)}*/}
          <FontAwesomeIcon icon={faCircleRight} />
        </a>
        <div class="top-character">
          {
            /*
            TODO:
            [prevCharaAnimeObject, nowCharaAnimeObject].map(
              (obj) =>
                obj && (
                  <div
                    key={obj.characterKey}
                    ref={obj.ref}
                    class={`height-image-wrapper ${
                      obj.state != "staying" && `${obj.state}-${obj.direction}`
                    }`}
                  >
                    <GatsbyImage
                      image={characterInfos[obj.characterKey]!.portraitImage}
                      alt={characterInfos[obj.characterKey]!.name}
                    />
                  </div>
                ),
            )
            */
          }
          <div class="height-image-wrapper">
            <div>
              <Image
                src={characterInfo.portraitImage}
                alt={characterInfo.name}
                height={1280}
                densities={[1, 1.5, 2]}
                style={{ display: "block", objectFit: "contain" }}
              />
            </div>
          </div>
          <div class="info pb-5">
            <div class="detail p-4">
              <p>{characterInfo.description.replaceAll("<br />", "")}</p>
              <a
                href={getDormitoryCharacterPageUrl(characterInfo)}
                class="has-text-weight-bold has-text-black"
                >キャラクター詳細 →</a
              >
            </div>

            <AudioSample client:visible characterInfo={characterInfo} />
          </div>
        </div>
        <div class="description">
          <h1 class="title">VOICEVOX {characterInfo.name}</h1>
          <p class="is-size-5">
            {description}
            {additionalDescription && additionalDescription}
          </p>
          {
            characterInfo.releaseDate == undefined && (
              <a
                {...{ [showDownloadModalAttr]: true }}
                class="button mt-5 is-primary is-rounded is-large"
                target="_blank"
                rel="noreferrer"
                tab-index={0}
                role="button"
              >
                <span class="icon">
                  <FontAwesomeIcon icon={faDownload} />
                </span>
                <span class="has-text-weight-semibold">
                  <span class="is-hidden-mobile">VOICEVOX を </span>
                  ダウンロード
                </span>
              </a>
            )
          }
          <div class="terms mt-5">
            <a href="/term/" class="button is-normal is-rounded">
              <span>VOICEVOX 利用規約</span>
            </a>
            {
              characterInfo.policyUrl && (
                <button
                  {...{
                    [showLibraryTermIntroModalCharacterKeyAttr]: characterKey,
                  }}
                  class="button is-normal is-rounded"
                  type="button"
                >
                  <span>{characterInfo.name} 利用規約</span>
                </button>
              )
            }
          </div>
        </div>
      </div>
      <div class="charamenu container">
        <div class="characters">
          {
            characterKeys.map((key) => (
              <a
                href={getProductPageUrl(characterInfos[key])}
                class={`character ${
                  key === characterKey ? "active" : ""
                }`}
                aria-label={characterInfos[key].name}
                role="button"
                style={{
                  "--characterLightColor": characterInfos[key].lightColor,
                  "--characterColor": characterInfos[key].color
                }}
              >
                <Image
                  src={characterInfos[key].bustupImage}
                  alt={characterInfos[key].name}
                />
              </a>
            ))
          }
        </div>
      </div>
    </div>

    <section class="section">
      <div
        class="feature section"
        style={{
          display: "flex",
          flexDirection: "column",
          alignItems: "center",
        }}
      >
        <div class="separator">
          <h2 class="separator-text title is-size-2 has-text-weight-bold px-5">
            VOICEVOX
          </h2>
        </div>
        <h3 class="separator-text is-size-5 has-text-weight-bold mt-5">
          無料で使える中品質なテキスト読み上げソフトウェア
        </h3>

        <div class="feature-content">
          <Image
            src={featureImage}
            alt="VOICEVOXのソフトウェアの画面のスクリーンショット画像"
            class="thumb"
            style={{ display: "block", objectFit: "contain" }}
          />
          <div class="description">
            <SoftwareFeature />
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    let scroll_pos = 0;
    document.addEventListener("astro:before-swap", (event) => {
      const charamenu = (event.target as Element).querySelector(".charamenu > .characters");
      if (charamenu) scroll_pos = charamenu.scrollLeft;
    });
    document.addEventListener("astro:after-swap", (event) => {
      const charamenu = (event.target as Element).querySelector(".charamenu > .characters");
      if (charamenu) charamenu.scrollLeft = scroll_pos;
    });
  </script>
</Base>

<style lang="scss" define:vars={{ characterBackgroundColor }} is:global>
  @use "@/styles/vars.scss" as *;
  @use "@/styles/helper.scss" as *;

  @use "bulma/sass/elements" as *;
  @use "bulma/sass/utilities/initial-variables" as *;
  @use "bulma/sass/utilities/mixins" as *;
  @use "bulma/sass/helpers" as *;

  .product {
    h1 {
      @extend .title;
      @extend .is-3;
    }

    .top {
      height: calc(100vh - 3.25rem - 5rem);
      display: flex;
      flex-direction: row-reverse;
      min-height: calc($desktop / 2);
      max-height: $desktop;

      position: relative;

      @include mobile {
        height: auto;
        max-height: unset;
        flex-direction: column;
        gap: 3rem;
      }

      .prev,
      .post {
        position: absolute;
        z-index: 10;
        top: 10%;
        transform: translateY(-50%);
        font-size: 3rem;
        opacity: 0.25;
      }
      .prev {
        left: calc(50% - 50vw + 1.2rem);
      }
      .post {
        right: calc(50% - 50vw + 1.2rem);
      }

      .top-character {
        position: relative;
        flex: 0 1 50%;

        @include mobile {
          flex: 0 1 auto;
          height: calc(100vh - 3.25rem);
          min-height: calc(100vh - 3.25rem);
          max-height: calc(100vh - 3.25rem);
        }

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 50vw;
          height: 100%;
          background-color: var(--characterBackgroundColor);

          @include mobile {
            width: 100%; // FIXME: 左右に空間が空いてしまう
          }
        }

        /*
        .image-wrapper.entering-right {
          animation: entering-right 0.15s ease-out;
          animation-fill-mode: both;
        }
        .image-wrapper.entering-left {
          animation: entering-left 0.15s ease-out;
          animation-fill-mode: both;
        }
        .image-wrapper.leaving-right {
          animation: entering-left 0.15s ease-in;
          animation-fill-mode: both;
          animation-direction: reverse;
        }
        .image-wrapper.leaving-left {
          animation: entering-right 0.15s ease-in;
          animation-fill-mode: both;
          animation-direction: reverse;
        }
        @keyframes entering-right {
          0% {
            opacity: 0;
            transform: translateX(-5%);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
        @keyframes entering-left {
          0% {
            opacity: 0;
            transform: translateX(5%);
          }
          100% {
            opacity: 1;
            transform: translateX(0);
          }
        }
        */

        .info {
          position: absolute;
          top: 0;
          right: 5%;

          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          gap: 1rem;

          .detail,
          .sample {
            background-color: #fffc;
            width: 200px;
            border-radius: 16px;

            display: flex;
            flex-direction: column;
          }

          .detail {
            align-items: flex-end;
            gap: 1rem;
          }

          .sample {
            align-items: center;
          }
        }
      }

      .description {
        flex: 0 1 50%;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        @extend .px-6;

        @include mobile {
          padding-left: 0 !important;
          padding-right: 0 !important;
          align-items: center;
        }

        .terms {
          display: flex;
          gap: 0.5rem;
          flex-wrap: wrap;

          @include mobile {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }

    .charamenu {
      position: relative;
      display: flex;
      height: 5rem;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: -1rem;
        width: 1rem;
        height: 100%;
        box-shadow: 0 0 1rem rgba(255,255,255,0.5);
      }

      .characters {
        display: flex;
        overflow: auto hidden;
        margin: 0 auto auto;
        height: 100%;

        .character {
          --padding-y: 1.25rem;
          display: flex;
          opacity: 0.5;
          height: calc(5rem - var(--padding-y) * 2);
          box-sizing: content-box;
          aspect-ratio: 1;
          padding: var(--padding-y) 0.5rem;

          &:hover {
            opacity: 0.8;
          }

          &.active {
            --padding-y: 1rem;
            opacity: 1;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              height: 0.25rem;
              width: 100%;
              background-color: var(--characterColor);
            }
          }

          img {
            background-color: var(--characterLightColor);
            height: 100%;
            width: auto;
            border-radius: 0.45rem;
            margin: auto;
          }
        }
      }
    }

    .feature {
      @extend .my-5, .py-5;
      @include mobile {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      .separator {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        // 横線
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          width: 100%;
          border-top: 5px solid;
          border-color: $primary;
          z-index: -1;
        }

        .separator-text {
          background-color: white;
        }
      }

      .feature-content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        @extend .mt-6;

        @include mobile {
          flex-direction: column;
          gap: 2rem;
        }

        .thumb {
          width: 50%;
          border: 1.5px solid;
          @extend .ml-6;
          @include mobile {
            width: 100%;
            margin-left: 0 !important;
          }
        }

        .description {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }
</style>
