---
/**
 * キャラクターごとの製品ページ
 */

import { characterEntries, characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import Base from "@/layouts/Base.astro";
import SoftwareFeature from "@/pages/_SoftwareFeature.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import TopContainer from "./_TopContainer.astro";
import { buildDescription } from "./constants";
import featureImage from "./feature.png";

export const getStaticPaths = (async () =>
  characterKeys.map((key) => ({
    params: { characterId: characterEntries[key].id },
    props: { characterKey: key, characterInfo: characterInfos[key] },
  }))) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { characterKey, characterInfo } = Astro.props;

const description = buildDescription(characterInfo);
---

<Base
  title={`VOICEVOX ${characterInfo.name} | 無料のテキスト読み上げソフトウェア`}
  description={description}
  image={characterInfo.productShareImage}
  imageAlt={characterInfo.productShareImage ? "" : undefined}
>
  <main class="product">
    <div class="py-0">
      <TopContainer {characterKey} />
    </div>

    <section class="px-xl py-3xl">
      <div class="mx-auto flex max-w-5xl flex-col items-center">
        <div class="relative flex w-full items-center justify-center">
          <!-- 横線 -->
          <div
            class="border-primary absolute inset-x-0 top-1/2 -translate-y-1/2 border-t-[5px]"
            aria-hidden="true"
          >
          </div>
          <h2
            class="px-xl relative z-10 bg-white text-4xl leading-10 font-bold text-neutral-700"
          >
            VOICEVOX
          </h2>
        </div>

        <h3 class="mt-xl mb-md text-xl font-bold text-black">
          無料で使える中品質なテキスト読み上げソフトウェア
        </h3>

        <div
          class="mt-xl max-md:gap-2xl flex w-full flex-col justify-evenly md:flex-row"
        >
          <Image
            src={featureImage}
            alt="VOICEVOXのソフトウェアの画面のスクリーンショット画像"
            class="md:ml-3xl block w-full border border-black object-contain md:w-1/2"
          />
          <div class="flex w-full justify-center md:w-2/5">
            <SoftwareFeature />
          </div>
        </div>
      </div>
    </section>
  </main>
</Base>
