---
/**
 * キャラクターごとの製品ページ
 */

import { characterEntries, characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import Base from "@/layouts/Base.astro";
import SoftwareFeature from "@/pages/_SoftwareFeature.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import TopContainer from "./_TopContainer.astro";
import { buildDescription } from "./constants";
import featureImage from "./feature.png";

export const getStaticPaths = (async () =>
  characterKeys.map((key) => ({
    params: { characterId: characterEntries[key].id },
    props: { characterKey: key, characterInfo: characterInfos[key] },
  }))) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { characterKey, characterInfo } = Astro.props;

const description = buildDescription(characterInfo);
---

<Base
  title={`VOICEVOX ${characterInfo.name} | 無料のテキスト読み上げソフトウェア`}
  description={description}
  image={characterInfo.productShareImage}
  imageAlt={characterInfo.productShareImage ? "" : undefined}
>
  <main class="product">
    <div class="section py-0">
      <TopContainer {characterKey} />
    </div>

    <section class="section">
      <div
        class="feature section"
        style={{
          display: "flex",
          flexDirection: "column",
          alignItems: "center",
        }}
      >
        <div class="separator">
          <h2 class="separator-text title is-size-2 has-text-weight-bold px-5">
            VOICEVOX
          </h2>
        </div>
        <h3 class="separator-text is-size-5 has-text-weight-bold mt-5">
          無料で使える中品質なテキスト読み上げソフトウェア
        </h3>

        <div class="feature-content">
          <Image
            src={featureImage}
            alt="VOICEVOXのソフトウェアの画面のスクリーンショット画像"
            class="thumb"
            style={{ display: "block", objectFit: "contain" }}
          />
          <div class="description">
            <SoftwareFeature />
          </div>
        </div>
      </div>
    </section>
  </main>
</Base>

<style lang="scss" is:global>
  @use "@/styles/vars.scss" as *;
  @use "@/styles/helper.scss" as *;

  @use "bulma/sass/elements" as *;
  @use "bulma/sass/utilities/initial-variables" as *;
  @use "bulma/sass/utilities/mixins" as *;
  @use "bulma/sass/helpers" as *;

  .product {
    .feature {
      @extend .my-5, .py-5;
      @include mobile {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }

      .separator {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        position: relative;

        // 横線
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          width: 100%;
          border-top: 5px solid;
          border-color: $primary;
          z-index: -1;
        }

        .separator-text {
          background-color: white;
        }
      }

      .feature-content {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        @extend .mt-6;

        @include mobile {
          flex-direction: column;
          gap: 2rem;
        }

        .thumb {
          width: 50%;
          border: 1.5px solid;
          @extend .ml-6;
          @include mobile {
            width: 100%;
            margin-left: 0 !important;
          }
        }

        .description {
          width: 40%;
          display: flex;
          justify-content: center;
          align-items: center;
          @include mobile {
            width: 100%;
          }
        }
      }
    }
  }
</style>
