---
/**
 * 一番上に表示するコンポーネント。
 * PC版ではキャラ名・キャライラスト・キャラメニューがファーストビューに表示される。
 * モバイル版ではキャライラスト・キャラメニューがファーストビューに表示される。
 */

import FontAwesomeIcon from "@/components/FontAwesomeIcon.astro";
import KeepScrollAnchor from "@/components/KeepScrollAnchor.astro";
import type { CharacterKey } from "@/constants/characterEntry";
import { characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import {
  getDormitoryCharacterPageUrl,
  getProductPageUrl,
} from "@/constants/url";
import { withBaseUrl } from "@/helper";
import {
  showDownloadModalAttr,
  showLibraryTermIntroModalCharacterKeyAttr,
} from "@/store";
import {
  faCircleLeft,
  faCircleRight,
  faDownload,
} from "@fortawesome/free-solid-svg-icons";
import { Image } from "astro:assets";
import AudioSample from "./_AudioSample";
import { buildDescription } from "./constants";

interface Props {
  characterKey: CharacterKey;
}

const { characterKey } = Astro.props;
const characterInfo = characterInfos[characterKey];

const description = buildDescription(characterInfo);
const additionalDescription = characterInfo.additionalProductDescription;
const characterBackgroundColor = characterInfo.lightColor;

const prevCharacterKey =
  characterKeys[
    (characterKeys.indexOf(characterKey) + characterKeys.length - 1) %
      characterKeys.length
  ];
const postCharacterKey =
  characterKeys[
    (characterKeys.indexOf(characterKey) + 1) % characterKeys.length
  ];
---

<div
  class="top relative mx-auto grid w-[calc(100%-48px)] max-w-6xl grid-cols-1 grid-rows-[calc(100vh-3.25rem-5rem)_5rem_auto] md:h-[calc(100vh-3.25rem)] md:max-h-[1024px] md:min-h-[512px] md:grid-cols-2 md:grid-rows-[1fr_5rem]"
>
  <a
    href={withBaseUrl(getProductPageUrl(characterInfos[prevCharacterKey]))}
    class="prev absolute top-[10%] left-[calc(50%-50vw+1.2rem)] z-10 inline-flex h-12 w-12 -translate-y-1/2 items-center justify-center rounded-full border-2 border-black bg-transparent text-5xl text-black opacity-25 hover:opacity-40"
    aria-label="前のキャラクターを表示"
  >
    <FontAwesomeIcon icon={faCircleLeft} />
  </a>
  <a
    href={withBaseUrl(getProductPageUrl(characterInfos[postCharacterKey]))}
    class="post absolute top-[10%] right-[calc(50%-50vw+1.2rem)] z-10 inline-flex h-12 w-12 -translate-y-1/2 items-center justify-center rounded-full border-2 border-black bg-transparent text-5xl text-black opacity-25 hover:opacity-40"
    aria-label="次のキャラクターを表示"
  >
    <FontAwesomeIcon icon={faCircleRight} />
  </a>

  <div
    class="character-area top-character-area relative col-start-1 row-start-1 md:col-start-2 md:row-start-1"
  >
    <div class="absolute inset-0 flex justify-center overflow-hidden">
      <div class="flex-none">
        <Image
          class="block h-full w-auto object-contain"
          src={characterInfo.portraitImage}
          alt={characterInfo.name}
          height={1280}
          densities={[1, 1.5, 2]}
        />
      </div>
    </div>
    <div
      class="absolute inset-y-0 right-[5%] flex flex-col justify-end gap-4 pb-5"
    >
      <div
        class="flex w-[200px] flex-col items-end gap-4 rounded-2xl bg-white/80 p-4"
      >
        <p>{characterInfo.description.replaceAll("<br />", "")}</p>
        <a
          href={withBaseUrl(getDormitoryCharacterPageUrl(characterInfo))}
          class="font-bold text-black underline-offset-2 hover:underline"
          >キャラクター詳細 →</a
        >
      </div>

      <AudioSample client:visible characterInfo={characterInfo} />
    </div>
  </div>

  <div
    class="col-start-1 row-start-3 flex flex-col items-center justify-center px-0 max-md:pt-12 md:col-start-1 md:row-start-1 md:items-start md:px-12"
  >
    <h1 class="mb-6 text-3xl leading-[36px] font-extrabold">
      VOICEVOX {characterInfo.name}
    </h1>
    <p class="text-xl leading-[30px]">
      {description}
      {additionalDescription && additionalDescription}
    </p>
    {
      characterInfo.releaseDate == undefined && (
        <button
          {...{ [showDownloadModalAttr]: "" }}
          class="bg-primary hover:bg-primary/90 mt-6 inline-flex items-center gap-2 rounded-full px-[30px] py-[14px] text-2xl font-semibold text-black"
        >
          <span class="icon">
            <FontAwesomeIcon icon={faDownload} />
          </span>
          <span class="has-text-weight-semibold">
            <span class="hidden md:inline">VOICEVOX を </span>
            ダウンロード
          </span>
        </button>
      )
    }
    <div
      class="terms mt-6 flex flex-col items-center gap-2 md:flex-row md:flex-wrap md:items-start"
    >
      <a
        href={withBaseUrl("/term/")}
        class="inline-flex h-10 items-center justify-center rounded-full border border-gray-300 bg-white px-5 text-base font-medium shadow-sm hover:bg-neutral-50"
      >
        <span>VOICEVOX 利用規約</span>
      </a>
      {
        characterInfo.policyUrl && (
          <button
            {...{
              [showLibraryTermIntroModalCharacterKeyAttr]: characterKey,
            }}
            class="inline-flex h-10 items-center justify-center rounded-full border border-gray-300 bg-white px-5 text-base font-medium shadow-sm hover:bg-neutral-50"
            type="button"
          >
            <span>{characterInfo.name} 利用規約</span>
          </button>
        )
      }
      {
        characterInfo.additionalProductLinks &&
          characterInfo.additionalProductLinks.map((obj) => (
            <a
              href={obj.url}
              class="inline-flex h-10 items-center justify-center rounded-full border border-gray-300 bg-white px-5 text-base font-medium shadow-sm hover:bg-neutral-50"
              target="_blank"
              rel="noreferrer"
            >
              <span>{obj.label}</span>
            </a>
          ))
      }
    </div>
  </div>

  <div
    class="charamenu-area col-start-1 row-start-2 h-20 md:col-span-2 md:row-start-2"
  >
    <div
      class="vv-scrollbar-hidden-until-hover flex h-full overflow-x-auto overflow-y-hidden"
      aria-label="キャラクター一覧"
    >
      {
        characterKeys.map((key) => (
          <KeepScrollAnchor
            href={withBaseUrl(getProductPageUrl(characterInfos[key]))}
            class={`character box-content flex aspect-square flex-none ${
              key === characterKey
                ? "active relative h-12 px-2 py-4 opacity-100 before:absolute before:top-0 before:left-0 before:h-1 before:w-full before:bg-[var(--characterColor)] before:content-['']"
                : "h-10 px-2 py-5 opacity-50 hover:opacity-80"
            }`}
            aria-label={characterInfos[key].name}
            style={{
              "--characterLightColor": characterInfos[key].lightColor,
              "--characterColor": characterInfos[key].color,
            }}
          >
            <Image
              class="m-auto h-full w-auto rounded-lg bg-(--characterLightColor)"
              src={characterInfos[key].bustupImage}
              alt={characterInfos[key].name}
              width="64"
              densities={[1, 1.5, 2]}
            />
          </KeepScrollAnchor>
        ))
      }
    </div>
  </div>
</div>

<script>
  function scrollToCenter() {
    const characterList = document.querySelector(
      "[aria-label='キャラクター一覧']",
    );
    if (characterList == undefined) return;

    if (!(characterList instanceof HTMLElement))
      throw new Error(`characterList is not HTMLElement: ${characterList}`);

    const active = characterList.querySelector(".active");
    if (!(active instanceof HTMLElement))
      throw new Error(`active is not HTMLElement: ${active}`);

    const activeCenter = active.offsetLeft + active.offsetWidth / 2;
    const containerCenter = characterList.offsetWidth / 2;
    characterList.scrollLeft = activeCenter - containerCenter;
  }
  document.addEventListener("astro:after-swap", scrollToCenter);

  scrollToCenter();
</script>

<style lang="scss" define:vars={{ characterBackgroundColor }} is:global>
  .top-character-area::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100%;
    background-color: var(--characterBackgroundColor);
  }

  @media (max-width: 768px) {
    .top-character-area::before {
      width: 100%;
    }
  }
</style>
