---
import { hideHeaderAttr } from "@/components/Header/Header";
import { characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import { withBaseUrl } from "@/helper";
import Base from "@/layouts/Base.astro";
import { Image, getImage } from "astro:assets";
import EngineGuidanceSection from "./_EngineGuidanceSection.astro";
import LinkListSection from "./_LinkListSection.astro";
import OssGuidanceSection from "./_OssGuidanceSection.astro";
import SoftwareFeature from "./_SoftwareFeature.astro";
import CharacterCard from "./talk/_CharacterCard.astro";
import landingMovieThumb from "./talk/landing-movie-thumb.png";
import landingMovie from "./talk/landing.mp4";
import logo from "./talk/logo.svg";
import shareThumb from "./talk/share.jpg";

const landingMovieThumbUrl = (await getImage({ src: landingMovieThumb })).src;
---

<Base
  title="VOICEVOX | 無料のテキスト読み上げ・歌声合成ソフトウェア"
  description="無料で使える中品質なテキスト読み上げ・歌声合成ソフトウェア。商用・非商用問わず無料で、誰でも簡単にお使いいただけます。イントネーションを詳細に調整することも可能です。"
  image={shareThumb}
  imageAlt=""
  defaultHideHeader={true}
>
  <div class="landing">
    <div
      class="first-view flex flex-col lg:min-h-screen"
      data-testid="first-view"
    >
      <header {...{ [hideHeaderAttr]: "" }} class="bg-primary text-black">
        <div class="py-6">
          <div class="mx-auto max-w-7xl px-4 text-center">
            <div class="mb-3 h-14 md:h-20 lg:h-28">
              <Image src={logo} alt="VOICEVOX" class="mx-auto h-full w-auto" />
            </div>
            <h2 class="mt-0 text-xl leading-6 font-semibold">
              無料で使える中品質なテキスト読み上げ・歌声合成ソフトウェア
            </h2>
          </div>
        </div>
      </header>
      <section class="flex flex-1 items-center py-12">
        <div
          class="mx-auto flex max-w-5xl flex-col justify-center gap-10 px-4 lg:flex-row lg:items-center"
        >
          <div class="w-full text-center lg:flex-1">
            {/* FIXME: キャプションTrackを追加する */}
            {/* eslint-disable-next-line astro/jsx-a11y/media-has-caption */}
            <video
              class="w-full border border-black"
              controls
              poster={landingMovieThumbUrl}
            >
              <source src={landingMovie} type="video/mp4" />
            </video>
          </div>
          <SoftwareFeature class="w-full lg:w-80" />
        </div>
      </section>
    </div>

    <main>
      <section class="py-12">
        <div class="mx-auto flex max-w-5xl flex-col px-4">
          <h2
            id="characters"
            class="-mt-[calc(3.25rem+1rem)] mb-6 pt-[calc(3.25rem+1rem)] text-3xl font-bold text-neutral-950"
          >
            <a href="#characters" class="text-neutral-950">
              キャラクター一覧
            </a>
          </h2>
          <div class="-mx-3 flex flex-wrap justify-center">
            {
              characterKeys.map((characterKey) => (
                <CharacterCard characterInfo={characterInfos[characterKey]} />
              ))
            }
          </div>
        </div>
      </section>

      <section class="py-12">
        <div class="mx-auto flex max-w-5xl flex-col px-4">
          <h2
            id="nemo"
            class="-mt-[calc(3.25rem+1rem)] mb-6 pt-[calc(3.25rem+1rem)] text-3xl font-bold text-neutral-950"
          >
            <a href="#nemo" class="text-neutral-950"> VOICEVOX Nemo </a>
          </h2>
          <p class="text-xl">
            VOICEVOX Nemo はキャラクターのいない音声ライブラリです。
          </p>
          <p class="text-xl">
            詳しくは&nbsp;<a
              href={withBaseUrl("/nemo/")}
              class="text-link hover:text-link-hover font-bold underline"
              >VOICEVOX Nemo</a
            >&nbsp;をご参照ください。
          </p>
        </div>
      </section>

      <EngineGuidanceSection isDark={false} />

      <section class="py-12">
        <div class="mx-auto flex max-w-5xl flex-col px-4">
          <h2
            id="core_library"
            class="-mt-[calc(3.25rem+1rem)] mb-6 pt-[calc(3.25rem+1rem)] text-3xl font-bold text-neutral-950"
          >
            <a href="#core_library" class="text-neutral-950">
              コアライブラリ
            </a>
          </h2>
          <p class="text-xl">
            VOICEVOX
            の音声合成をアプリケーションやサービスに組み込める、VOICEVOX
            のコアライブラリを配布しています。
          </p>
          <p class="text-xl">
            詳しくは&nbsp;<a
              href="https://github.com/VOICEVOX/voicevox_core"
              class="text-link hover:text-link-hover font-bold underline"
              target="_blank"
              rel="noreferrer">VOICEVOX CORE</a
            >&nbsp;をご参照ください。
          </p>
        </div>
      </section>

      <OssGuidanceSection isDark={false} />

      <LinkListSection />
    </main>
  </div>
</Base>
