---
/**
 * 個別のニュース記事ページ
 */
import Markdown from "@/components/Markdown.astro";
import Base from "@/layouts/Base.astro";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import { articles } from "./constants";

export const getStaticPaths = (async () => {
  return articles.map((article) => ({
    params: { slug: article.frontmatter.slug },
    props: { article },
  }));
}) satisfies GetStaticPaths;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { article } = Astro.props;
const { frontmatter } = article;

// TODO: リリース時にnoindexを外す。併せて astro.config.ts の sitemap filter からも /news/ を外す
---

<Base
  title={`${frontmatter.title} | ニュース | VOICEVOX`}
  description="無料で使えるテキスト読み上げ・歌声合成ソフトウェア、VOICEVOXのニュースです。"
  noindex={true}
>
  <main class="py-3xl">
    <div class="px-md mx-auto max-w-5xl">
      <h1 class="mb-xs text-3xl font-bold text-neutral-950">
        {frontmatter.title}
      </h1>
      <p class="text-neutral-400">{frontmatter.date}</p>
      <Markdown>
        <div class="markdown mt-lg" set:html={article.compiledContent()} />
      </Markdown>
    </div>
  </main>
</Base>
