---
/**
 * 記事ディレクトリにある記事一覧を表示するページ。
 * ファイル名の逆順に表示する。
 */

import { withBaseUrl } from "@/helper";
import Base from "@/layouts/Base.astro";
import shareThumb from "./_share.jpg";
import { articles } from "./constants";

// TODO: リリース時にnoindexを外す。併せて astro.config.ts の sitemap filter からも /news/ を外す
---

<Base
  title="ニュース | VOICEVOX"
  description="無料で使えるテキスト読み上げ・歌声合成ソフトウェア、VOICEVOXのニュース一覧です。"
  image={shareThumb}
  imageAlt=""
  noindex={true}
>
  <main class="py-3xl">
    <div class="px-md mx-auto max-w-5xl">
      <h1 class="mb-xl text-3xl font-bold text-neutral-950">ニュース</h1>
      {
        articles.map((article) => (
          <div class="mb-sm">
            <a
              class="vv-link"
              href={withBaseUrl(`/news/${article.frontmatter.slug}`)}
            >
              {article.frontmatter.title}
            </a>
            <p class="text-neutral-400">{article.frontmatter.date}</p>
          </div>
        ))
      }
    </div>
  </main>
</Base>
