---
import type { CharacterInfo } from "@/constants/type";
import { getProductPageUrl } from "@/constants/url";
import { withBaseUrl } from "@/helper";
import { showLibraryTermIntroModalCharacterKeyAttr } from "@/store";
import { Image } from "astro:assets";
import AudioSample from "./_AudioSample";
import Button from "@/components/ui/Button/index.astro";

interface Props {
  characterInfo: CharacterInfo;
}

const { characterInfo } = Astro.props;
const characterKey = characterInfo.key;
---

<div class="p-sm box-border w-full flex-none md:w-1/2 lg:w-1/3">
  <div class="rounded-xl bg-white shadow-lg ring-1 ring-black/5">
    <a
      href={withBaseUrl(getProductPageUrl(characterInfo))}
      class="block overflow-hidden rounded-t-xl"
    >
      <Image
        class="mx-auto block object-contain"
        src={characterInfo.toppageBustupImage ?? characterInfo.bustupImage}
        alt={characterInfo.name}
        width="320"
        densities={[1, 1.5, 2]}
      />
    </a>
    <div class="px-xl py-lg text-center">
      <h3 class="text-2xl font-extrabold">
        <a
          href={withBaseUrl(getProductPageUrl(characterInfo))}
          class="text-current"
        >
          {characterInfo.name}
        </a>
      </h3>
      <p class="mb-lg mt-0 text-xl">
        {characterInfo.voiceFeature ? characterInfo.voiceFeature : "（準備中）"}
      </p>
      {
        characterInfo.releaseDate != undefined && (
          <p class="-mt-md py-0 font-semibold text-red-600">Coming Soon</p>
        )
      }
      {
        characterInfo.talkVoiceAudios.length > 0 && (
          <AudioSample
            client:visible
            audioSamples={characterInfo.talkVoiceAudios}
            characterName={characterInfo.name}
          />
        )
      }
      <div class="-mx-xl pt-sm">
        <Button
          {...{ [showLibraryTermIntroModalCharacterKeyAttr]: characterKey }}
          kind="outline"
          tone="neutral"
          shape="pill"
          size="md"
        >
          {characterInfo.name} 利用規約
        </Button>
      </div>
    </div>
  </div>
</div>
