---
import { dormitoryTopIllustInfos } from "@/constants/dormitoryTopIllustInfo";
import { withBaseUrl } from "@/helper";
import { Image } from "astro:assets";

interface Props {
  id: string;
}

const { id } = Astro.props;
---

<div
  class="mx-auto flex max-w-5xl flex-col items-center bg-white py-3xl text-center"
>
  <h2
    id={id}
    class="vv-anchor-offset-4 mb-xl text-2xl leading-7 font-extrabold text-neutral-700"
  >
    <a href={`#${id}`} class="text-black"> トップイラスト一覧 </a>
  </h2>
  <div class="grid w-full grid-cols-1 gap-md px-md md:grid-cols-3">
    {
      // トップイラスト一覧
      dormitoryTopIllustInfos.map(({ image, illustrator }, index) => (
        <div>
          <a href={withBaseUrl(`/dormitory/top_illust/${index + 1}`)}>
            <Image
              src={image}
              alt={`${illustrator}さんが描いたトップイラスト`}
              width={480}
              densities={[1, 1.5, 2]}
              class="block w-full cursor-pointer rounded-2xl border border-black object-contain shadow-none"
            />
          </a>
          <span class="text-xs text-black">イラスト：{illustrator}</span>
        </div>
      ))
    }
  </div>
</div>
