---
import Base from "@/layouts/Base.astro";
import TopIllustContainer from "./_TopIllustContainer.astro";
import CharacterCard from "./_CharacterCard.astro";

import shareThumb from "./top-illusts/top-illust-009.png";
import { characterInfos } from "@constants/characterInfo";
---

<Base
  title="ボイボ寮 | VOICEVOX"
  description="とある世界の不思議な建物、ボイボ寮。ここでは個性豊かな住民たちが暮らしています。"
  image={shareThumb}
  imageAlt=""
>
  <div class="dormitory">
    <header class="hero is-small">
      {/* TODO: ref={headerRef}  */}
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title is-2">ボイボ寮の住民たち</h1>
        </div>
      </div>
    </header>

    <section class="section py-0">
      <TopIllustContainer />
      <div class="container is-max-desktop has-text-centered is-size-5 py-6">
        <p>とある世界の不思議な建物、ボイボ寮。</p>
        <p>ここでは個性豊かな住民たちが暮らしています。</p>
      </div>
    </section>

    <main class="section pt-0 pb-5">
      <div class="container character-container is-max-desktop pt-1 pb-6">
        <div class="columns is-multiline">
          <div
            id="9th"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#9th" class="has-text-black"> 9 期 生 </a>
            </h2>
          </div>

          <CharacterCard characterInfo={characterInfos.Voidoll} />
        </div>

        <!--

        <hr />

        <div class="columns is-multiline">
          <div
            id="8th"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#8th" class="has-text-black"> 8 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard characterInfo={characterInfos.栗田まろん} />
          <DormitoryCharacterCard characterInfo={characterInfos.藍田ノエル} />
          <DormitoryCharacterCard characterInfo={characterInfos.満別花丸} />
          <DormitoryCharacterCard
            characterInfo={characterInfos.琴詠ニア}
            class="is-offset-2"
          />
        </div>

        <hr />

        <div class="columns is-multiline">
          <div
            id="7th"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#7th" class="has-text-black"> 7 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard characterInfo={characterInfos.聖騎士紅桜} />
          <DormitoryCharacterCard characterInfo={characterInfos.雀松朱司} />
          <DormitoryCharacterCard characterInfo={characterInfos.麒ヶ島宗麟} />
          <DormitoryCharacterCard
            characterInfo={characterInfos.春歌ナナ}
            class="is-offset-2"
          />
          <DormitoryCharacterCard characterInfo={characterInfos.猫使アル} />
          <DormitoryCharacterCard characterInfo={characterInfos.猫使ビィ} />
          <DormitoryCharacterCard
            characterInfo={characterInfos.中国うさぎ}
            class="is-offset-2"
          />
        </div>

        <hr />

        <div class="columns is-multiline">
          <div
            id="6th"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#6th" class="has-text-black"> 6 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard characterInfo={characterInfos.ちび式じい} />
          <DormitoryCharacterCard characterInfo={characterInfos.櫻歌ミコ} />
          <DormitoryCharacterCard characterInfo={characterInfos.小夜_SAYO} />
          <DormitoryCharacterCard
            characterInfo={characterInfos.ナースロボ＿タイプＴ}
            class="is-offset-2"
          />
        </div>

        <hr />

        <div class="columns is-multiline">
          <div
            id="5th"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#5th" class="has-text-black"> 5 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard characterInfo={characterInfos.WhiteCUL} />
          <DormitoryCharacterCard characterInfo={characterInfos.後鬼} />
          <DormitoryCharacterCard characterInfo={characterInfos.No7} />
        </div>

        <hr />

        <div class="columns is-multiline">
          <div
            id="4th"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#4th" class="has-text-black"> 4 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard
            characterInfo={characterInfos.モチノキョウコ}
          />
          <DormitoryCharacterCard characterInfo={characterInfos.剣崎雌雄} />
        </div>

        <hr />

        <div class="columns is-multiline">
          <div
            id="3rd"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#3rd" class="has-text-black"> 3 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard characterInfo={characterInfos.玄野武宏} />
          <DormitoryCharacterCard characterInfo={characterInfos.白上虎太郎} />
          <DormitoryCharacterCard characterInfo={characterInfos.青山龍星} />
          <DormitoryCharacterCard
            characterInfo={characterInfos.冥鳴ひまり}
            class="is-offset-2"
          />
          <DormitoryCharacterCard characterInfo={characterInfos.九州そら} />
        </div>

        <hr />

        <div class="columns is-multiline">
          <div
            id="2nd"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#2nd" class="has-text-black"> 2 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard characterInfo={characterInfos.春日部つむぎ} />
          <DormitoryCharacterCard characterInfo={characterInfos.雨晴はう} />
          <DormitoryCharacterCard characterInfo={characterInfos.波音リツ} />
        </div>

        <hr />

        <div class="columns is-multiline">
          <div
            id="1st"
            class="jump-anchor-header-padding column is-2 generation-label"
          >
            <h2 class="title is-3">
              <a href="#1st" class="has-text-black"> 1 期 生 </a>
            </h2>
          </div>

          <DormitoryCharacterCard characterInfo={characterInfos.四国めたん} />
          <DormitoryCharacterCard characterInfo={characterInfos.ずんだもん} />

          <div class="tile is-parent is-3 tohoku">
            <div class="tile is-child">
              <h3 class="title is-4">仲良し</h3>
              <a href="https://zunko.jp/" target="_blank" rel="noreferrer">
                <div class="is-flex">
                  <StaticImage
                    class="tile is-child"
                    src="../images/icon-kiritan.png"
                    alt="東北きりたん"
                    width={128}
                  />
                  <StaticImage
                    class="tile is-child"
                    src="../images/icon-zunko.png"
                    alt="東北ずん子"
                    width={128}
                  />
                  <StaticImage
                    class="tile is-child"
                    src="../images/icon-itako.png"
                    alt="東北イタコ"
                    width={128}
                  />
                </div>
              </a>
            </div>
          </div>
        </div>

        <hr />

        <div class="has-text-centered pt-2 pb-0">
          <h2 class="title is-4">関連コンテンツ</h2>
          <Link
            to="/dormitory/call_names/"
            class="button is-normal is-rounded"
            type="button"
            role={"button"}
          >
            <span>キャラクターの呼称表</span>
          </Link>
        </div>

        -->
      </div>
    </main>

    <!-- 

    <DormitoryExplainComponent />

    <section class="section py-5">
      <DormitoryEventContainer id="events" />
    </section>

    <section class="section py-5">
      <DormitoryTopIllustsContainer id="top_illusts" />
    </section>

    -->
  </div>
</Base>
