---
import { characterKeys } from "@/constants/characterEntry";
import { characterInfos } from "@/constants/characterInfo";
import { withBaseUrl } from "@/helper";
import Base from "@/layouts/Base.astro";
import { showDownloadModalAttr } from "@/store";
import { faDownload } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { getImage, Image } from "astro:assets";
import EngineGuidanceSection from "../_EngineGuidanceSection.astro";
import OssGuidanceSection from "../_OssGuidanceSection.astro";
import CharacterCard from "./_CharacterCard";
import backgroundImage from "./background.png";
import shareThumb from "./share.png";

// ソングを持つキャラクターを前に表示する
// ソング・ハミングどちらも無いキャラクターはフィルター
const orderedCharacterKeys = characterKeys
  .filter((key) => characterInfos[key].songVoiceAudios.length > 0)
  .toSorted((a, b) => {
    const hasSong = (songVoiceAudios: { styleType: "song" | "humming" }[]) =>
      songVoiceAudios.some(({ styleType }) => styleType === "song");
    return hasSong(characterInfos[a].songVoiceAudios) &&
      !hasSong(characterInfos[b].songVoiceAudios)
      ? -1
      : 1;
  });

// キャラクター数
const characterCount = orderedCharacterKeys.length;

// スタイル数
const styleCount = orderedCharacterKeys.reduce((acc, key) => {
  return acc + characterInfos[key].songVoiceAudios.length;
}, 0);

const backgroundImageSrc = (await getImage({ src: backgroundImage })).src;
---

<Base
  title="VOICEVOX Song"
  description="無料で使える中品質なテキスト読み上げ・歌声合成ソフトウェア。商用・非商用問わず無料で、誰でも簡単にお使いいただけます。喋り声に近い声で歌えるハミング機能も搭載。"
  image={shareThumb}
  imageAlt=""
  isDark={true}
>
  <main class="bg-neutral-950 text-white">
    <section class="py-0" data-testid="first-view">
      <div
        class="relative isolate flex min-h-[calc(100vh-3.25rem)] flex-col items-center justify-center gap-14 px-6 py-12 text-center"
      >
        <!-- 背景画像 -->
        <div
          class="absolute inset-0 -z-10 bg-cover bg-center blur-xs brightness-75"
          style={{ backgroundImage: `url(${backgroundImageSrc})` }}
        >
        </div>

        <div
          class="mb-20 flex flex-col items-center justify-center gap-2 md:mb-0 md:gap-4"
        >
          <h1
            class="song-hero-title text-primary/75 text-5xl leading-[1.125] font-extrabold md:text-8xl lg:text-9xl"
          >
            VOICEVOX Song
          </h1>
          <span
            class="text-2xl leading-snug font-bold break-words break-keep drop-shadow-2xl"
          >
            無料で使える中品質な<wbr />テキスト読み上げ・歌声合成ソフトウェア
          </span>
          <!-- <wbr>で良い感じに改行するようにする -->
        </div>

        <div class="flex flex-col items-center gap-4">
          <button
            {...{ [showDownloadModalAttr]: "" }}
            class="bg-primary inline-flex h-14 items-center justify-center gap-2 rounded-full px-8 py-3 text-2xl font-medium text-black shadow-lg hover:opacity-90"
          >
            <FontAwesomeIcon icon={faDownload} />
            <span class="font-semibold">ダウンロード</span>
          </button>
          <a
            href={withBaseUrl("/term/")}
            class="inline-flex h-10 items-center justify-center rounded-full bg-white px-5 py-2 text-base font-medium text-neutral-950 shadow-lg hover:opacity-90"
          >
            利用規約
          </a>
        </div>
      </div>
    </section>

    <section class="py-12">
      <div class="mx-auto mb-12 w-full max-w-6xl px-6">
        <h2 class="mb-6 text-3xl font-bold">特徴</h2>
        <div class="grid grid-cols-2 gap-4 md:grid-cols-4">
          <div
            class="rounded-2xl bg-emerald-950/20 py-8 text-center text-base leading-normal md:text-xl"
          >
            商用利用可能な
            <br />
            フリーソフト
          </div>
          <div
            class="rounded-2xl bg-emerald-950/20 py-8 text-center text-base leading-normal md:text-xl"
          >
            マルチOSに対応
            <br />
            (Win / Mac / Linux)
          </div>
          <div
            class="rounded-2xl bg-emerald-950/20 py-8 text-center text-base leading-normal md:text-xl"
          >
            {characterCount} 名のキャラクターと
            <br />
            {styleCount} 種類のボイス
          </div>
          <div
            class="rounded-2xl bg-emerald-950/20 py-8 text-center text-base leading-normal md:text-xl"
          >
            すぐ使える GUI と<br />歌唱 AI で創作支援
          </div>
        </div>
      </div>

      <div class="mx-auto w-full max-w-6xl px-6">
        <h2 class="mb-6 text-3xl font-bold">音声ライブラリ一覧</h2>
        <div class="flex flex-wrap items-center justify-center gap-4">
          {
            orderedCharacterKeys.map((characterKey) => (
              <CharacterCard
                client:visible
                characterInfo={characterInfos[characterKey]}
              >
                <Image
                  src={characterInfos[characterKey].bustupImage}
                  alt={characterInfos[characterKey].name}
                  width={256}
                  style={{ display: "block" }}
                />
              </CharacterCard>
            ))
          }
        </div>
      </div>
    </section>

    <section class="py-12">
      <div class="mx-auto w-full max-w-5xl px-6">
        <h2 class="mb-6 text-3xl font-bold">ハミングとは？</h2>
        <p class="text-xl leading-relaxed">
          喋り声のデータを用いて音声ライブラリを作成し、
          歌えるキャラクターに歌い方を倣うことで、
          キャラクターの喋り声に近い声で歌える機能です。
        </p>
        <p class="mt-0 text-xl leading-relaxed">
          キャラクターによっていろんなスタイルで歌うことができます。
        </p>
      </div>
    </section>

    <EngineGuidanceSection />

    <OssGuidanceSection />
  </main>
</Base>

<style>
  .song-hero-title {
    text-shadow: 0px 0px 10px rgba(165, 212, 173, 0.55);
  }
</style>
